<p>
    <a href="{% url 'learning_logs:index' %}">Learning Log</a>
    <a href="{% url 'learning_logs:topics' %}">Topics</a>
    <a href="{% url 'learning_logs:new_topic' %}">New Topic</a>
    {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'users:login' %}">Log in</a>
        <a href="{% url 'users:register' %}">Register</a>
    {% endif %}
</p>    

{% block content %} {% endblock content %}