{% extends 'learning_logs/base.html' %}

{% block header %}
   <h1>{{ topic }}</h1>
{% endblock header %}

{% block content %}
   <p>
      <td><a href="{% url 'learning_logs:new_entry' topic.id %}">Add a new Entry</a></td>
      <td><a href="{% url 'learning_logs:delete_topic' topic.id %}">Delete Entry</a></td>
   </p>

   {% for entry in entries %}
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3>
            {{ entry.date_added|date:'M d, Y H:i' }}
            <small>
               <td>
                  <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a>
               </td>
               <td>
                  <a href="{% url 'learning_logs:delete_entry' entry.id %}">Delete entry</a>
               </td>
            </small>
         </h3>
      </div>
      <div class="panel-body">
         {{ entry.text|linebreaks }}
      </div>
   </div> <!-- /div panel ends-->
   {% empty %}
      There are no entries for this topic yet.
   {% endfor %}

{% endblock content %}  